{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <section class="grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <h1>Votre panier</h1>

                    {% if items|length == 0 %}
                        <h3>Le panier est vide.</h3>
                    {% else %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Produit</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>
                                        <a href="{{ path('detailproduit', {'id': item.produit.id}) }}">
                                            {{ item.produit.nom }}
                                        </a>
                                    </td>
                                    <td>{{ item.produit.prix /100 }} €</td>
                                    <td>
                                        <a href="{{ path('panier_add', {'id': item.produit.id}) }}? returnToCart=true"><i
                                                    class="fas fa-plus-circle"></i></a>
                                        {{ item.quantite }}
                                        <a href="{{ path('panier_decrement', {'id': item.produit.id}) }}"><i
                                                    class="fas fa-minus-circle"></i></a>
                                    </td>
                                    <td>{{ item.total /100}} €</td>
                                    <td>
                                        <a href="{{ path('panier_delete', {'id': item.produit.id}) }}"><i
                                                    class="fas fa-trash"></i></a>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3">Total</td>
                                <td colspan="2">{{ total /100}} €</td>
                            </tr>
                            </tfoot>
                        </table>
                        <br>
                        <form action="{{ path('panier_payement') }}" method="post">
                            <label for="donneepaiement">Entrez votre compte bancaire$$</label>
                            <input type="text" class="form-control" name="donneepaiement" placeholder="BE00 0000 0000 0000">
                            <br>
                            <button type="submit" class="btn btn-primary">Passer la commande</button>
                        </form>

                    {% endif %}

                </div>
            </div>
        </div>
    </section>


{% endblock %}
