{% extends 'base.html.twig' %}

{% block title %}RNGS Home{% endblock %}

{% block body %}


    <!-- ============================ Bandeau de Recherche ================================== -->

    <div class="image-cover hero-banner" style="background:url(/assets/img/bg2.png) no-repeat;"
         data-overlay="7">
        <div class="container">

            <div class="full-search-2 italian-search hero-search-radius box-style mb-4">
                <div class="hero-search-content">
                    <form class="row" method="POST" action="{{ path('recherche') }}">
                        <div class="col-lg-4 col-md-4 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <input type="text" name="nom" class="form-control b-r"
                                           placeholder="Nom du produit">
                                    <i class="theme-cl ti-search"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="choose-city" name="promotion" class="form-control">
                                        <option value="">&nbsp;</option>
                                        {% for promotion in promotions %}
                                            {% if promotion.datedebut <= date('today') and promotion.datefin >= date('today') %}
                                                <option value="{{ promotion.id }}">-{{ promotion.pourcentage }}%
                                                    sur {{ promotion.categorie.nom }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <i class="ti-target"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="list-category" name="categorie" class="form-control">
                                        <option value="">&nbsp;</option>
                                        {% for categorie in categories %}
                                            <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                                        {% endfor %}
                                    </select>
                                    <i class="theme-cl ti-list"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="form-group">
                                    <button type="submit" class="btn search-btn">Recherche</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================ Fin de la recherche ================================== -->

    <!-- ============================ Début du slider de photos ============================ -->
    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center">
                        <h2>Photos récentes</h2>
                        <p>Les photos de nos derniers produits ajoutés.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="owl-carousel owl-theme" id="lists-slide">

                    {% for produit in derniersProduits %}
                        <div class="list-slide-box">
                            <div class="modern-list ml-2">
                                <div class="grid-category-thumb">
                                    {% if produit.images|length > 0 %}
                                        <a href="{{ asset('images/' ~ produit.images[0].nom) }}"
                                           class="mfp-gallery overlay-cate">
                                            <img src="{{ asset('images/' ~ produit.images[0].nom) }}"
                                                 class="img-responsive" alt="Image du produit"/>
                                        </a>
                                    {% else %}
                                        <!-- Si aucune image n'est associée au produit, vous pouvez afficher une image par défaut ou un message. -->
                                        <p>Aucune image disponible.</p>
                                    {% endif %}
                                    <div class="property_meta">
                                        <h4 class="lst-title">
                                            <a href="{{ path ("detailproduit", {id:produit.id}) }}">{{ produit.nom }}</a>
                                            <span class="veryfied-author"></span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </section>

    <!-- ============================ Fin du slider de photos ============================== -->



    <!-- ============================ Début Promotion du moment ============================= -->
    <section class="gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <ul class="col-lg-8 col-md-10">
                    <div class="sec-heading center">
                        <h2>En ce moment :</h2>
                    </div>
                    {% for promotion in promotions %}
                        {% if promotion.datedebut <= date('today') and promotion.datefin >= date('today') %}
                            <li>
                                <i class="fas fa-bookmark"></i><span class="prt-type rent">Offre active</span>
                                <h3><i class="fas fa-star"></i> Promotion du moment : {{ promotion.categorie.nom }}
                                    - {{ promotion.pourcentage }}% !</h3>
                                <p>-{{ promotion.pourcentage }}% sur les {{ promotion.categorie.nom }}.</p>
                                <p>Promotion valable à partir du {{ promotion.datedebut|date('d/m/Y') }}
                                    jusqu'au {{ promotion.datefin|date('d/m/Y') }}.</p>
                                <a href="{{ path ("detailcategorie", {id: promotion.categorie.id}) }}">
                                    <button type="button" class="btn btn-primary">Page de la catégorie</button>
                                </a>
                                <br>
                                <br>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================ Fin Promotion du moment ============================= -->


    <!-- ============================ Début bandeau flèche ========================== -->
    <section class="theme-bg lttop-title">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center light mb-5">
                        <h2>Les derniers articles ajoutés sur notre Shop</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="title__curve"></div>
    </section>
    <!-- ============================ Fin bandeau flèche =========================== -->


    <!-- ============================ Début boucle derniers produits ajoutés =========================== -->


    <div class="container">
        <div class="row justify-content-center">
            <ul class="col-lg-8 col-md-10">
                {% for produit in derniersProduits %}
                    <li>
                        <i class="fas fa-bookmark"></i>
                        <h3>Nom : {{ produit.nom }}</h3>
                        <p>Description : {{ produit.description }}</p>
                        <p>Prix : {{ produit.prix /100 }} €</p>

                        <a href="{{ path ("detailproduit", {id:produit.id}) }}">
                            <button type="button" class="btn btn-light">En savoir plus</button>
                        </a>
                        <br>
                        <br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- ============================ Fin boucle derniers produits ajoutés =========================== -->


    <!-- ============================ Début bandeau liste catégories ================================== -->
    <section class="theme-bg call-to-act">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-9 col-md-8">
                    <div class="clt-caption">
                        <h3>Vous en voulez encore ?</h3>
                        <p>Retrouvez toutes les catégories de notre Shop.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="{{ path('toutescategories') }}" class="btn btn-md btn-light clt-act">Toutes les
                        catégories<i class="lni-shift-right ml-2"></i></a>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================ Fin bandeau liste catégories ================================== -->




{% endblock %}
