{% extends 'base.html.twig' %}

{% block title %}Recherche de Bien-être{% endblock %}

{% block body %}

    <!-- ============================ Bandeau de Recherche ================================== -->

    <div class="image-cover search-header-banner" style="background:url(/assets/img/decorfloatingisland.png) no-repeat;"
         data-overlay="6">
        <div class="container">

            <div class="full-search-2 italian-search hero-search-radius box-style mb-4">
                <div class="hero-search-content">
                    <form class="row" method="POST" action="{{ path('recherche') }}">
                        <div class="col-lg-4 col-md-4 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <input type="text" name="nom" class="form-control b-r"
                                           placeholder="Nom du produit">
                                    <i class="theme-cl ti-search"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="choose-city" name="promotions" class="form-control">
                                        <option value="">&nbsp;</option>
                                        {% for promotions in promotions %}
                                            <option value="{{ promotions.id }}">-{{ promotions.pourcentage }}%</option>
                                        {% endfor %}
                                    </select>
                                    <i class="ti-target"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="list-category" name="categorie" class="form-control">
                                        <option value="">&nbsp;</option>
                                        {% for categorie in categories %}
                                            <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                                        {% endfor %}
                                    </select>
                                    <i class="theme-cl ti-list"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="form-group">
                                    <button type="submit" class="btn search-btn">Recherche</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================ Fin de la recherche ================================== -->

    <!-- ============================ Début bandeau flèche ================================= -->
    <section class="theme-bg lttop-title">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center light mb-5">
                        <h2>Résultats de votre recherche : </h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="title__curve"></div>
    </section>
    <!-- ============================ Fin bandeau flèche =================================== -->

    <!-- ============================ Début des résultats ================================== -->

    <section class="gray-bg">

        <div class="container">


            <br>
            <ul>
                {% for produit in pagination %}
                    <i class="fas fa-bookmark"></i>
                    <h3>Nom du produit : {{ produit.nom }}</h3>
                    <p>Prix : {{ produit.prix }} €</p>
                    <p>Description : {{ produit.description }}</p>
                    {% if produit.categorie is not null %}
                        {% for promotion in produit.categorie.promotions %}
                            <p>Promotion : {{ promotion.pourcentage }} %</p>
                        {% endfor %}
                    {% endif %}

                    <p>Catégorie : {{ produit.categorie.nom }}</p>
                    <a href="{{ path ("detailproduit", {id:produit.id}) }}">
                        <button type="button" class="btn btn-warning">En savoir plus</button>
                    </a>
                    <br>
                    <br>
                {% endfor %}
            </ul>
        </div>

        {# Pagination #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </section>

{% endblock %}
