{% extends 'base.html.twig' %}

{% block title %}Information du produit {{ produit.nom }}{% endblock %}

{% block body %}


    <section class="grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">

                    <div class="slide-property-first mb-4">
                        <div class="listname-into">
                            <h2>{{ produit.nom }} <a href="{{ path('detailcategorie', {'id': categorie.id}) }}"><span
                                            class="prt-type rent">{{ categorie.nom }}</span></a></h2>
                        </div>
                    </div>

                    <div class="property3-slide single-advance-property mb-4">

                        <div class="slider-for">
                            {% for image in produit.images %}
                                <a href="{{ asset('images/' ~ image.nom) }}" class="item-slick">
                                    <img src="{{ asset('images/' ~ image.nom) }}" alt="Alt">
                                </a>
                            {% endfor %}

                        </div>
                        <div class="slider-nav">
                            {% for image in produit.images %}
                                <a href="{{ asset('images/' ~ image.nom) }}" class="item-slick">
                                    <img src="{{ asset('images/' ~ image.nom) }}" alt="Alt">
                                </a>
                            {% endfor %}

                        </div>

                    </div>

                    <div class="block-wrap">
                        <div class="block-header">
                            <h3 class="block-title">Description de : {{ produit.nom }}</h3>
                        </div>
                        <div class="block-header">
                            <h4 class="block-title"> {{ produit.categorie.nom }}</h4>
                        </div>
                        <div class="block-body">
                            <p>{{ produit.categorie.description }}
                        </div>
                        <div class="block-header">
                            <h4 class="block-title"> {{ produit.nom }}</h4>
                        </div>
                        <div class="block-body">
                            <p>{{ produit.description }}
                        </div>
                    </div>

                </div>
                <!-- Listing Sidebar -->
                <div class="col-lg-4 col-md-12 col-sm-12">


                    <div class="verified-list mb-4">
                        <i class="ti-check"></i>Produit certifié conforme
                    </div>

                    <div class="tr-single-box">
                        <div class="tr-single-header">
                            <h4><i class="ti-direction"></i>Informations : {{ produit.description }}</h4>
                        </div>
                    </div>

                    <div class="tr-single-box">
                        <div class="tr-single-header">
                            <h4><i class="ti-direction"></i>Informations : {{ produit.categorie.description }}</h4>
                        </div>
                    </div>

                    <div class="tr-single-box">
                        <div class="tr-single-body">
                            <ul class="extra-service">
                                <li><a href="{{ path('panier_add', {id: produit.id}) }}">
                                        <button type="button" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Ajouter au panier</button>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}