{% extends 'base.html.twig' %}

{% block title %}Information du produit {{ produit.nom }}{% endblock %}

{% block body %}


    <section class="grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">

                    <div class="slide-property-first mb-4">
                        <div class="listname-into">
                            <h2>{{ produit.nom }} <a href="{{ path('detailcategorie', {'id': categorie.id}) }}"><span
                                            class="prt-type rent">{{ categorie.nom }}</span></a></h2>
                        </div>
                    </div>

                    <div class="property3-slide single-advance-property mb-4">

                        <div class="slider-for">
                            <a href="https://picsum.photos/1200/852" class="item-slick"><img src="https://picsum.photos/1200/852" alt="Alt"></a>
                            <a href="https://via.placeholder.com/1200x850" class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></a>
                            <a href="https://via.placeholder.com/1200x850" class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></a>
                            <a href="https://via.placeholder.com/1200x850" class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></a>
                            <a href="https://via.placeholder.com/1200x850" class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></a>
                            <a href="https://via.placeholder.com/1200x850" class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></a>
                            <a href="https://via.placeholder.com/1200x850" class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></a>
                            <a href="{{ asset('/images/'~produit.images.nom) }}" class="item-slick"><img src="{{ asset('/images/'~produit.images.nom) }}" alt="Alt"></a>
                        </div>
                        <div class="slider-nav">
                            <div class="item-slick"><img src="https://picsum.photos/1200/852" alt="Alt"></div>
                            <div class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></div>
                            <div class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></div>
                            <div class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></div>
                            <div class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></div>
                            <div class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></div>
                            <div class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></div>
                            <div class="item-slick"><img src="https://via.placeholder.com/1200x850" alt="Alt"></div>
                        </div>

                    </div>

                    <div class="block-wrap">
                        <div class="block-header">
                            <h3 class="block-title">Description de : {{ produit.nom }}</h3>
                        </div>
                            <div class="block-header">
                                <h4 class="block-title"> {{ produit.categorie.nom }}</h4>
                            </div>
                            <div class="block-body">
                                <p>{{ produit.categorie.description }}
                            </div>
                        <div class="block-header">
                            <h4 class="block-title"> {{ produit.nom }}</h4>
                        </div>
                        <div class="block-body">
                            <p>{{ produit.description }}
                        </div>
                    </div>

                </div>
                <!-- Listing Sidebar -->
                <div class="col-lg-4 col-md-12 col-sm-12">


                    <div class="verified-list mb-4">
                        <i class="ti-check"></i>Produit certifié conforme
                    </div>

                    <div class="tr-single-box">
                        <div class="tr-single-header">
                            <h4><i class="ti-direction"></i>Informations : {{ produit.description }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}