{% extends 'base.html.twig' %}

{% block title %}Informations de la commande {{ commande.id }}{% endblock %}

{% block body %}
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">Votre commande</h2>
                    <span class="ipn-subtitle">Merci d'avoir effectué votre commande chez nous. Voici les détails de votre commande.</span>

                </div>
            </div>
        </div>
    </div>

    <section class="grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">

                    <h3>Informations sur la commande</h3>
                    <ul>
                        <li><strong>ID de la commande :</strong> {{ commande.id }}</li>
                        <li><strong>Date de la commande :</strong> {{ commande.dateCommande|date('d/m/Y H:i:s') }}</li>
                        <li><strong>Statut de la commande :</strong> {{ commande.statuscommande }}</li>
                    </ul>

                    <h3>Produits commandés</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nom du produit</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produitCommande in commande.produitsCommandes %}
                            <tr>
                                <td>{{ produitCommande.produit.nom }}</td>
                                <td>{{ produitCommande.quantite }}</td>
                                <td>{{ produitCommande.prix /100 }} €</td>
                                <td>{{ (produitCommande.prix * produitCommande.quantite) /100 }} €</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <h3>Total de la commande</h3>
                    <p><strong>Total :</strong> {{ totalCommande /100 }} €</p>




                </div>
            </div>
        </div>
    </section>
{% endblock %}
