{% extends 'base.html.twig' %}

{% block title %}Liste des promotions actives{% endblock %}

{% block body %}

    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">Toutes les promotions</h2>
                    <span class="ipn-subtitle">Des économies à portée de main</span>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <ul>
            {% for promotions in promotions %}
                {% if promotions.datedebut <= date('today') and promotions.datefin >= date('today') %}
                    <li>
                        <span class="prt-type rent">Offre active</span>
                        <h3><i class="fas fa-star"></i> Promotion en cours : {{ promotions.categorie.nom }}
                            -{{ promotions.pourcentage }}% !</h3>
                        <p>-{{ promotions.pourcentage }}% sur les {{ promotions.categorie.nom }}.</p>
                        <p>Promotion valable à partir du {{ promotions.datedebut|date('d/m/Y') }}
                            jusqu'au {{ promotions.datefin|date('d/m/Y') }}.</p>
                        <a href="{{ path ("detailcategorie", {id:promotions.categorie.id}) }}">
                            <button type="button" class="btn btn-primary">Page de la catégorie</button>
                        </a>
                        <br>
                        <br>
                    </li>
                {% endif %}
            {% endfor %}

            {# Une seconde boucle for pour que les promotions passées se retrouvent bien après les promotions en cours #}
            {% for promotions in promotions %}

                {% if promotions.datefin < date('today') %}
                    <li>
                        <br>
                        <h4><i class="fas fa-circle"></i> Trop tard : {{ promotions.categorie.nom }}
                            -{{ promotions.pourcentage }}%</h4>
                        <p>-{{ promotions.pourcentage }}% sur les {{ promotions.categorie.nom }}.</p>
                        <p>Promotion valable à partir du {{ promotions.datedebut|date('d/m/Y') }}
                            jusqu'au {{ promotions.datefin|date('d/m/Y') }}.</p>
                        <a href="{{ path ("detailcategorie", {id:promotions.categorie.id}) }}">
                            <button type="button" class="btn btn-primary">Page de la catégorie</button>
                        </a>
                        <br>
                        <br>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
