<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <!-- All Plugins Css -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugins.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}"/>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}"/>

        <!-- Custom Color Option -->
        <link href="{{ asset('assets/css/colors.css') }}" rel="stylesheet">

    {% endblock %}

</head>
<body class="blue2-skin">
{% block content %}
    <div id="main-wrapper">
        {% block header %}
            <div class="header dark-header nav-left-side">
                <nav class="headnavbar">
                    <div class="nav-header">
                        <a href="{{ path('home') }}" class="brand normal-logo"><img
                                    src="{{ asset('assets/img/rngslogo.png') }}"
                                    alt=""/></a>
                        <a href="{{ path('home') }}" class="brand brand-overlay"><img
                                    src="{{ asset('assets/img/rngslogo.png') }}"
                                    alt=""/></a>
                        <button class="toggle-bar"><span class="ti-align-justify"></span></button>
                    </div>
                    <ul class="menu">
                        {% if is_granted('ROLE_USER') %}

                        <li class="dropdown">
                            <a href="JavaScript:Void(0);" class="active">Profil</a>
                            <ul class="dropdown-menu">
                                <div class="mg-menu-items">
                                    <li>
                                        <a href="" class="active">Consulter mon profil</a>
                                    </li>
                                </div>

                                {% else %}
                                <li class="dropdown">
                                    <a href="JavaScript:Void(0);" class="active">S'inscrire</a>
                                    <ul class="dropdown-menu">
                                        <div class="mg-menu-items">
                                            <li>
                                                <a href="{{ path('app_register') }}" class="active">Créer mon profil</a>
                                            </li>
                                        </div>
                                        {% endif %}
                                    </ul>
                                <li class="dropdown">
                                    <a href="JavaScript:Void(0);">Explorer</a>
                                    <ul class="dropdown-menu lg-wt">
                                        <li>
                                            <a href="">
                                                <div class="mg-menu-items">
                                                    <i class="lni-search"></i>
                                                    <h5>Recherche<span>Parmi toute la boutique</span></h5>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="">
                                                <div class="mg-menu-items">
                                                    <i class="lni-apartment"></i>
                                                    <h5>Constructeurs<span>Liste des principaux acteurs</span></h5>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('toutescategories') }}">
                                                <div class="mg-menu-items">
                                                    <i class="lni-list"></i>
                                                    <h5>Catégories<span>Les types d'objets proposés</span></h5>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('tousproduits') }}">
                                                <div class="mg-menu-items">
                                                    <i class="lni-list"></i>
                                                    <h5>Produits<span>Les produits proposés</span></h5>
                                                </div>
                                            </a>
                                        {% if is_granted('ROLE_USER') == true %}

                                            <li>
                                                <a href="{{ path('promotions') }}">
                                                    <div class="mg-menu-items">
                                                        <i class="lni-ticket"></i>
                                                        <h5>Les promotions<span>Les réductions du moment</span></h5>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}

                                        <li>
                                            <a href="{{ path('ajoutcategorie') }}">
                                                <div class="mg-menu-items">
                                                    <i class="lni-crown"></i>
                                                    <h5>Ajoutez une catégorie<span>Un nouveau type de produit</span>
                                                    </h5>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('ajoutproduit') }}">
                                                <div class="mg-menu-items">
                                                    <i class="lni-crown"></i>
                                                    <h5>Ajoutez un produit<span>Un nouvel article sur le store</span>
                                                    </h5>
                                                </div>
                                            </a>
                                        </li>


                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="JavaScript:Void(0);">Contactez-nous</a>
                                    <ul class="dropdown-menu lg-wt">
                                        <li>
                                            <a href="">
                                                <div class="mg-menu-items">
                                                    <i class="lni-pencil"></i>
                                                    <h5>Formulaire de contact</h5>
                                                </div>
                                            </a>
                                        </li>

                                        {# <li class="dropdown">
                                    <a href="JavaScript:Void(0);">Réseaux Sociaux</a>
                                    <ul class="dropdown-menu lg-wt"> #}
                                        <li>
                                            <a href="www.instagram.com">
                                                <div class="mg-menu-items">
                                                    <i class="lni-instagram"></i>
                                                    <h5>Instagram</h5>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="www.twitter.com">
                                                <div class="mg-menu-items">
                                                    <i class="lni-twitter"></i>
                                                    <h5>Twitter</h5>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="www.facebook.com">
                                                <div class="mg-menu-items">
                                                    <i class="lni-facebook"></i>
                                                    <h5>Facebook</h5>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="www.linkedin.com">
                                                <div class="mg-menu-items">
                                                    <i class="lni-linkedin"></i>
                                                    <h5>LinkedIn</h5>
                                                </div>
                                            </a>
                                        </li>
                                        {# </ul>
                                </li> #}
                                    </ul>
                                </li>

                                <li class="megamenu" data-width="500">
                                    <a href="#">À Propos</a>
                                    <div class="megamenu-content">
                                        <div class="mg-menu">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <div class="mg-menu-items">
                                                            <i class="ti-layout"></i>
                                                            <h5>Qui sommes nous<span>D'hier et d'aujourd'hui</span>
                                                            </h5>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="">
                                                        <div class="mg-menu-items">
                                                            <i class="ti-location-pin"></i>
                                                            <h5>Nous trouver<span>D'où venons-nous ?</span></h5>
                                                        </div>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            {% if is_granted('ROLE_USER') %}
                                <ul class="attributes attributes-desk ad-two">
                                    <li class="log-icon lg-ic">
                                        {% if cartService.total == 0 %}
                                            <a href="{{ path('panier_show') }}"><i
                                                        class="ti-shopping-cart"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('panier_show') }}"><i
                                                        class="ti-shopping-cart-full"></i>
                                                ({{ cartService.total }}€)
                                            </a>
                                        {% endif %}
                                    </li>

                                    <li class="login-attri mid-rb"><a href="{{ path('app_logout') }}" class="br-4">Se
                                            déconnecter</a></li>
                                </ul>
                            {% else %}
                                <ul class="attributes attributes-desk ad-two">
                                    <li class="log-icon lg-ic">
                                        {% if cartService.total == 0 %}
                                            <a href="{{ path('panier_show') }}"><i
                                                        class="ti-shopping-cart"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('panier_show') }}"><i
                                                        class="ti-shopping-cart-full"></i>
                                                ({{ cartService.total }}€)
                                            </a>
                                        {% endif %}
                                    </li>
                                    <li class="login-attri mid-rb"><a href="{{ path('app_login') }}" class="br-4">Se
                                            connecter</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>

            {% for rubrique, messages in app.flashes %}
                <div class="alert alert-{{ rubrique }}">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endfor %}

        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <!-- ============================ Footer Start ================================== -->
            <footer class="dark-footer skin-dark-footer">
                <div>
                    <div class="container">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="footer-widget">
                                        <img src="{{ asset('assets/img/bienetre2023.png') }}" class="img-fluid f-logo"
                                             alt=""/>
                                        <p>Rue Saint-Laurent<br>Liège - Belgique</p>
                                        <ul class="footer-bottom-social">
                                            <li><a href="www.facebook.com"><i class="ti-facebook"></i></a></li>
                                            <li><a href="www.twitter.com"><i class="ti-twitter"></i></a></li>
                                            <li><a href="www.instagram.com"><i class="ti-instagram"></i></a></li>
                                            <li><a href="www.linkedin.com"><i class="ti-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4">
                                    <div class="footer-widget">
                                        <h4 class="widget-title">Votre profil</h4>
                                        <ul class="footer-menu">
                                            {% if is_granted('ROLE_USER') %}
                                                <li><a href="">Se déconnecter</a></li>
                                            {% else %}
                                                <li><a href="">Se connecter</a></li>
                                            {% endif %}
                                            <li><a href="">Profil</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4">
                                    <div class="footer-widget">
                                        <h4 class="widget-title">Essentiels</h4>
                                        <ul class="footer-menu">
                                            <li><a href="">Catégories</a></li>
                                            <li><a href="">Promotions</a></li>
                                            <li><a href="">Stages</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4">
                                    <div class="footer-widget">
                                        <h4 class="widget-title">Bien-Être</h4>
                                        <ul class="footer-menu">
                                            <li><a href="">À propos</a></li>
                                            <li><a href="">Carte</a></li>
                                            <li><a href="">Recherche</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4">
                                    <div class="footer-widget">
                                        <h4 class="widget-title">Liens utiles</h4>
                                        <ul class="footer-menu">
                                            <li><a href="">Prestataires</a></li>
                                            <li><a href="">Contactez-nous</a></li>
                                            <li><a href="">Vie privée</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-12 col-md-12 text-center">
                                <p class="mb-0">© 2023 Retro Neo Game Shop GM.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
            <!-- ============================ Footer End ================================== -->

        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://kit.fontawesome.com/338db63432.js" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/circleMagic.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/rangeslider.js') }}"></script>
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/aos.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/js/slick.js') }}"></script>
    <script src="{{ asset('assets/js/slider-bg.js') }}"></script>
    <script src="{{ asset('assets/js/lightbox.js') }}"></script>
    <script src="{{ asset('assets/js/imagesloaded.js') }}"></script>
    <script src="{{ asset('assets/js/isotope.min.js') }}"></script>
    <script src="{{ asset('assets/js/coreNavigation.js') }}"></script>
    <script src="{{ asset('assets/js/custom.js') }}"></script>


{% endblock %}
</body>
</html>
